body{
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background: #3374ff;*/
    background: url(../images/jpg/casque.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}